body {
  background-color: antiquewhite;
  padding-left: 6%;
  padding-right: 6%;
  text-align: left;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8;
}

h1{
  color: black;
  font-family: cursive;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  text-align: center;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }
  
  .flex-container > div {
    width: 100%;
    text-align: left;
    line-height: 1.5; 
    padding: 30px;
  }
  