body {
  background-color: antiquewhite;
  color: rgb(1, 0, 0); 
  margin: -4px;
}

.blackTitles {
  color: black;
  font-family: cursive;
  font-size: 55px;
  text-align: center;
}
  
p {
  font-size: 14px;
  line-height: 21px; 
  font-family: "Lato", sans-serif;
}

.images {
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  gap: 10px;
}

.step-container {
  text-align: center;
}

.step-container img {
  display: block;
  margin: 0 auto;
}

.step-container h2 {
  margin-top: 10px;
}

.paragraph {
  padding-left: 6%;
  padding-right: 6%;
  text-align: left;
  font-size: 29px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8;
}

/* unvisited link  */
a:link {
  color: rgb(225, 64, 117);
}

/* visited link */
a:visited {
  color: palevioletred;
}

/* mouse over link */
a:hover {
  color: pink;
}

/* selected link */
a:active {
  color: plum;
}