header {
  background-image: url(imgs.home/edited_homepage_picture.jpg); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.m1 {
  background-color: #DA3481;
  font-size: 50px;
  direction: left;
}

.m2{
  background-color: #FEB376;
  font-size: 50px;
  direction: left;
}
