.amiri-bold {
    color:rgb(17, 3, 3);
    font-family: "Amiri", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    text-align: center;
    margin: 20px 0;
  }

.paragraph_text {
    text-align: left;
    padding-left: 6%;
    padding-right: 5%;
    line-height: 1.5;
    width: -20px;
    font-weight: 550;
    scale: 1;
    margin-top: 25%;
    align-items: center;
    font-family: "Amiri", serif;
}

body {
  background-color: antiquewhite;
  color: rgb(237, 145, 213);
}




@media (max-width: 768px) {
  .amiri-bold {
    font-size: 36px; 
    font-family: "Amiri", serif;
  }

  .paragraph_text {
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 10%;
    font-size: 18px; 
  }

  body {
    background-color: #f0e6f7; /
  }
}
