body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
}

.container {
  max-width: 1500px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

footer {
  margin-bottom: 20px;
}

.video-section {
  position: relative;
}

.media-wrapper {
  position: relative;
}

.thumbnail {
  width: 100%;
  display: block;
}

.video {
  display: none;
  width: 100%;
}

.play-toggle {
  display: flexbox;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: opacity 0.3s;
}

.play-button .play-text {
  display: block;
  font-size: 75px;
  color: red;
}

.play-toggle:checked + .play-button {
  display: none;
}

.play-toggle:checked ~ .thumbnail {
  display: none;
}

.play-toggle:checked ~ .video {
  display: block;
}

.helvetica{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  
  font-style: normal;
}

@media (max-width: 768px) {
  .helvetica {
      font-size: 20px; 
  }

  .play-button .play-text {
      font-size: 50px; 
  }

  .video {
      width: 100%; 
  }

  footer {
      font-size: 16px; 
  }

  .container {
      padding: 10px; 
  }
}
