body{
    background-color: crimson;
}
.video-container {
    display: grid; 
    justify-content: center; 
    display: table-row;
    display: inline;
    padding: 10px;
    flex-wrap: wrap; 
    width: 500px;
    width: 300px;
  }
  
  
