body {
    background-color: #dfded9;
}

.title {
    text-align: center;
    color: red;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: color_change 5s infinite ease-in-out;
    font-size: xx-large;
}

@keyframes color_change {
    0%  {color: red;}
    50%  {color: rgb(255, 169, 10); }
    75%   {color: rgb(13, 184, 13);}
    100%  {color: rgba(156, 11, 188, 0.759);} 
}

.paragraph1{
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 1%;
    margin-bottom: -2%;
    font-size: 18px; 
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
}

.paragraph2{
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 27%;
    font-size: 18px; 
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
}

.images {
    width: 350px;
    height: 260px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 350px;
}

.image-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
    display: inline-block; 
    padding-left: 8%;
    padding-right: 4%;
}

.image-container img {
    width: 350px;
    height: 260px;
}

@media (max-width: 768px) {
    .images, .images2 {
        width: 100%;
        height: auto;
        margin: 5px;
    }

    .image-container {
        justify-content: center; 
    }
}
