
body {
    background-color: rgb(242, 239, 226)
}
.title {
    transform: rotate(-90deg);
    text-align: left;
    font-size: 40px;
    margin-left: -96%;
    padding-left: 2%;
    padding-right: 0%;
    padding-top: 0%;
    color:rgb(10, 96, 177);
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.spotify{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

.paragraph_text{
    text-align: left;
    color: rgb(10, 96, 177);
    padding-left: 6%;
    padding-right: 5%;
    line-height: 1.5;
    width: -20px;
    font-weight: 550;
    scale: 1;
    margin-top: 25%;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@media (max-width: 768px) {
    .title {
        transform: rotate(0deg); 
        font-size: 26px; 
        margin-left: 0; 
        padding-left: 7%; 
    }

    .spotify iframe {
        width: 90%; 
        height: 250px; 
        margin-top: 5%;
        margin-bottom: -1%;
    }

    .paragraph_text {
        padding-left: 4%; 
        padding-right: 4%;
        margin-top: 1%; 
        font-size: 16px; 
        line-height: 1.4;
    }
}