
body {
    background-color: #f0d173;
    overflow: hidden;
}
 .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
 }
 
 .photos-header {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    animation: scroll 20s linear infinite;
 }

 .photos-bottom {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    animation: scroll 20s linear infinite; 
 }

 .photos-header img {
    width: 150px;
    height: 200px;
    filter: grayscale(100%);
    padding-bottom: 10%;
    margin-bottom: 5%;
 }

 .photos-bottom img {
    width: 150px;
    height: 200px;
    filter: grayscale(100%);
    padding-bottom: 10%;
    margin-bottom: 5%;
 }

 .text {
    text-align: center;
    margin: 20px 0;
    font-family: fantasy;
    color: rgb(202,32,89);
    padding-left: 5%;
    padding-right: 5%;

 }

 h2 {
    text-decoration-line:underline;
    text-align: center;
    font-size: 19px;
    }

h1 {
    text-align: center;
    font-size: 44px;
}

 @keyframes scroll {
    0% { 
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
 }