
    body {
    background-image: url('sparkles_background.jpg');
    background-size: contain;
    background-position: center;
    color: aliceblue;
    padding: 0;
    margin: 0;
    }
    
    .border {
        border-style: dotted;
        min-height: 100vh;
    }

    h1 {
    font-family: "brush-script-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 56px;
    }

    p {
    padding: 10px;
    }

    .flex-container {
    display: flex;
    flex-direction: row;
    }

    .flex-container > div {
    width: 100%;
    text-align: left;
    line-height: 1.5; 
    padding: 30px;
    }
