body {
    font-family: amiri-bold;
    font-style: normal;
    background-color: #fff7e1;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: flex-start;
    padding-bottom: 10%;
}

p {
    font-size: 24px;
    line-height: 21px;
}

h2 {
    font-size: 26px;
    margin-top: -4%;
}

h1 {
    font-size: 35px;
}

.amiri-bold {
    color: brown;
    font-family: "Amiri", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    text-align: center;
}

.text {
    padding: 5px;
    max-width: 1000px;
    margin: 0 auto;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
    gap: 16px; 
    padding: 20px;
    width: 80%;
    max-width: 1200px;
}

.item {
    border-radius: 8px;
    overflow: hidden;
}

.item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.tem h3 {
    padding: 10px;
    font-size: 20px;
    color: #333;
    text-align: center;
}


