body {
    font-family: amiri-bold;
    font-style: normal;
    background-color: #fff7e1;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: flex-start;
    padding-bottom: 10%;
    padding-right: -4%;
}

p {
    font-size: 24px;
    line-height: 21px;
}

h2{
    font-size: 26px;
    margin-top: -4%;
}
h1{
    font-size: 35px;
}

.amiri-bold {
    color: brown;
    font-family: "Amiri", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    text-align: center;
}

.text {
    padding: 5px;
    max-width: 1000px;
    margin: 0 auto;
}

.slideshow-container {
    position: relative;
    width: 100%;
    padding-right: -6%;
    max-width: 900px;
    height: 500px;
    overflow: hidden;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.slide img {
    width: 70%;
    height: 100%;
    object-fit: cover;
}

@keyframes slideshow {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    20% {
        opacity: 1;
        transform: translateX(0);
    }
    80% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.slide:nth-child(1) {
    animation: slideshow 20s infinite 0s;
}

.slide:nth-child(2) {
    animation: slideshow 20s infinite 4s;
}

.slide:nth-child(3) {
    animation: slideshow 20s infinite 8s;
}

.slide:nth-child(4) {
    animation: slideshow 20s infinite 12s;
}

.slide:nth-child(5) {
    animation: slideshow 20s infinite 16s;
}

.slide:nth-child(6) {
    animation: slideshow 20s infinite 20s;
}

.slide:nth-child(7) {
    animation: slideshow 20s infinite 24s;
}

.slide:nth-child(8) {
    animation: slideshow 20s infinite 28s;
}

.slide:nth-child(9) {
    animation: slideshow 20s infinite 32s;
}

.slide:nth-child(10) {
    animation: slideshow 20s infinite 36s;
}

.slide:nth-child(11) {
    animation: slideshow 20s infinite 40s;
}

.slide:nth-child(12) {
    animation: slideshow 20s infinite 44s;
}

.slide:nth-child(13) {
    animation: slideshow 20s infinite 48s;
}

.slide:nth-child(14) {
    animation: slideshow 20s infinite 52s;
}

.slide:nth-child(15) {
    animation: slideshow 20s infinite 56s;
}

.slide:nth-child(16) {
    animation: slideshow 20s infinite 60s;
}

.slide:nth-child(17) {
    animation: slideshow 20s infinite 64s;
}

.slide:nth-child(18) {
    animation: slideshow 20s infinite 68s;
}
